<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>Lessen</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body id="app" v-cloak>
	<div class="mask" @click="toggleSidebar" @touchmove="preventMask" v-show="isShowSidebar" transition="fade"></div>
	<div class="toast" v-text="toast.message" v-show="toast.show" transition="fade"></div>
	<div class="title-container" :class="titleContainerClass" :style="titleContainerStyle">
		<div class="menu" @click="toggleSidebar" v-show="!windowShow.detail">
			<span class="icon-menu"></span>
		</div>
		<div class="menu" @click="back" v-show="windowShow.detail">
			<span class="icon-back"></span>
		</div>
		<h1 class="title">
			<div v-text="title" v-show="!showSearch"></div>
			<div class="search-container" v-show="showSearch">
				<div class="search-input">
					<input type="text" placeholder="课程名称/老师姓名"
					@keyup="search($event, 'search') | debounce 500">
				</div>
			</div>
		</h1>
		<div class="search menu">
			<span class="icon-search" @click="changeWindow('searchBtn')"></span>
		</div>
		<div id="tab-container" class="tab-container" :class="tabContainerClass" @click="changeTab" @wheel="wheel">
			<div class="tab-bar" :style="tabBarPosition":></div>
			<ul class="tab">
				<li data-index="0" data-type="all" class="tab-current"">所有类别</li>
				<li data-index="1" data-type="natureScience">自然科学与现代技术</li>
				<li data-index="2" data-type="societyScience">社会科学与现代技术</li>
				<li data-index="3" data-type="traditionalCulture">传统文化与世界文明</li>
				<li data-index="4" data-type="medicalScience">医学与生命科学</li>
				<li data-index="5" data-type="humanities">人文学科与艺术审美</li>
			</ul>
		</div>
	</div>
	<nav id="sidebar" class="sidebar" :class="{'sidebar-show': isShowSidebar}" @touchstart="slideToToggleSidebar('hide', $event)" @touchmove="slideToToggleSidebar('hide', $event)" @touchend="slideToToggleSidebar('hide', $event)" @touchcancel="slideToToggleSidebar('hide', $event)">
		<h2 @click="changeWindow('hotList')">Lessen</h2>
		<ul>
			<li @click="changeWindow('hotList')"><span class="icon-hot"></span>热门</li>
			<li @click="changeWindow('filter')"><span class="icon-filter"></span>筛选</li>
			<li @click="changeWindow('rate')"><span class="icon-rate"></span>评分</li>
			<li @click="changeWindow('search')"><span class="icon-search"></span>搜索</li>
			<li @click="changeWindow('help')"><span class="icon-help"></span>帮助</li>
			<li @click="changeWindow('about')"><span class="icon-about"></span>关于</li>
		</ul>
	</nav>
	<ul class="window-container" :class="windowContainerClass" @touchstart="slideToToggleSidebar('open', $event)" @touchmove="slideToToggleSidebar('open', $event)" @touchend="slideToToggleSidebar('open', $event)" @touchcancel="slideToToggleSidebar('open', $event)">
		<li class="window" v-show="windowShow.hotList" transition="slide">
			<p class="loading" v-show="loading.hotList">正在加载</p>
			<ul class="hot-list" v-show="!loading.hotList">
				<li v-for="course in hotList" data-code="{{course.code}}" @click="showDetail">
					<div class="course-icon" data-type="{{course.type}}"></div>
					<div class="course-detail">
						<h3 v-text="course.name"></h3>
						<p class="course-info" v-text="course.teacher"></p>
						<p class="course-info"><span v-text="course.rateTimes"></span>次评分、<span v-text="course.commentTimes"></span>条评论</p>
					</div>
					<div class="course-score course-icon" v-text="course.score"></div>
				</li>
			</ul>
		</li>
		<li class="window" v-show="windowShow.detail" transition="slide">
			<p class="loading" v-show="loading.detail">正在加载</p>
			<p class="loading" v-show="error.detail">无网络连接</p>
			<div class="filter detail" v-show="!loading.detail && !error.detail">
				<div class="detail-cell">
					<div class="cell-name">课程名称</div>
					<div class="cell-content" v-text="detail.name"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">授课教师</div>
					<div class="cell-content" v-text="detail.teacher"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">上课时间</div>
					<div class="cell-content" v-text="detail.time | courseTime"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">课程类别</div>
					<div class="cell-content" v-text="detail.type | courseType"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">点名情况</div>
					<div class="cell-content" v-text="detail.roll | courseRoll"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">评分次数</div>
					<div class="cell-content"><span v-text="detail.rateTimes"></span>次</div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">教师评分</div>
					<div class="cell-content" v-text="detail.teacherScore / 10"></div>
				</div>
				<div class="detail-cell">
					<div class="cell-name">综合评分</div>
					<div class="cell-content" v-text="detail.score"></div>
				</div>
				<div class="detail-cell">
					<div class="detail-rate" @click="detailRate">对此课程进行评分</div>
				</div>
				<div class="detail-comment">
					<h4>评论（<span v-text="detail.commentTimes"></span>）</h4>
					<ul>
						<li v-for="comment in detail.comments">
							<p><span v-text="comment.nickname"></span> - <span v-text="comment.time | timeStamp"></span></p>
							<p v-text="comment.content"></p>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="window" v-show="windowShow.filter" transition="slide">
			<div class="filter">
				<filter-conditions 
				:filter-conditions="filterConditions" 
				:filter-options.sync="filterOptions" 
				:show-btn="true" 
				:filter-result.sync="filterResult" 
				:filter-loading.sync="loading.filter" 
				:filter-error.sync="error.filter"></filter-conditions>
			</div>

			<p class="loading" v-show="loading.filter">正在加载</p>
			<p class="loading" v-show="error.filter">无网络连接</p>
			<p class="loading" v-show="!loading.filter && (filterResult ? (filterResult.length === 0) : false)">当前条件没有筛选结果</p>
			<ul class="hot-list" v-show="!loading.filter && !error.filter">
				<li v-for="course in filterResult" data-code="{{course.code}}" @click="showDetail">
					<div class="course-icon" data-type="{{course.type}}"></div>
					<div class="course-detail">
						<h3 v-text="course.name"></h3>
						<p class="course-info" v-text="course.teacher"></p>
						<p class="course-info"><span v-text="course.rateTimes"></span>次评分、<span v-text="course.commentTimes"></span>条评论</p>
					</div>
					<div class="course-score course-icon" v-text="course.score"></div>
				</li>
			</ul>
		</li>
		<li class="window"
			v-show="windowShow.rate"
			transition="slide">
			<div class="rate">
				<h3>第一步：选择一门你上过的课程</h3>
				<div class="rate-step">
					<div class="rate-select-course"
						v-show="!rateCourseSelected">
						<div class="search-course-container">
							<input type="text"
								id="rate-search-input"
								placeholder="请输入课程名称/任课老师姓名"@keyup="search($event, 'rate') | debounce 500">
						</div>
						<div class="search-result">
							<ul>
								<p class="loading"
									v-show="loading.rate">正在加载</p>
								<p class="loading"
									v-show="error.rate">无网络连接</p>
								<p class="loading"
									v-show="!loading.rate && (rateSearchResult ? (rateSearchResult.length === 0) : false)">无搜索结果</p>
								<p class="loading"
								v-show="!loading.rate && !error.rate && !rateSearchResult">在上方输入课程名称以显示候选课程</p>
								<li v-for="course in rateSearchResult"
								data-code="{{course.code}}"
								@click="selectRateCourse">
									<div class="search-course">
									<span v-text="course.name"></span>（<span v-text="course.teacher"></span>）
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="rate-selected"
						v-show="rateCourseSelected">
						<h4>你已选择：</h4>
						<div class="selected-course-detail">
							<div class="detail-cell">
								<div class="cell-name">课程名称</div>
								<div class="cell-content"
								v-text="rateOptions.name"></div>
							</div>
							<div class="detail-cell">
								<div class="cell-name">授课教师</div>
								<div class="cell-content"
								v-text="rateOptions.teacher"></div>
							</div>
							<div class="detail-cell">
								<div class="cell-name">上课时间</div>
								<div class="cell-content"
								v-text="rateOptions.time | courseTime"></div>
							</div>
						</div>
						<div class="reselect-course"
						@click="changeRateCourse">选择另一门课程</div>
					</div>
				</div>
				<h3>第二步：选择合适的选项</h3>
				<div class="filter" id="rate-options">
					<filter-conditions
						:filter-conditions="rateConditions"
						:filter-options.sync="rateOptions"
						:show-btn="false"></filter-conditions>
				</div>
				<h3>第三步：写一段评价（可选）</h3>
				<div class="rate-comment"
					id="rate-comment" 
					contenteditable="true"
					@focus="rateComment"
					@blur="rateComment">
					<p style="color: #999;" id="rate-comment-placeholder">输入你的评价</p>
				</div>
				<h3>第四步：选一个你喜爱的昵称（可选）</h3>
				<div class="rate-nickname">
					<input type="text" v-model="rateOptions.nickname" placeholder="昵称只用于显示在你的评论上方，不作为身份证明">
				</div>
				<div class="filter-btn"
				@click="submitRate">提交</div>
			</div>
		</li>
		<li class="window" v-show="windowShow.search" transition="slide">
			<ul class="hot-list">
				<p class="loading" v-show="loading.search">正在加载</p>
				<p class="loading" v-show="error.search">无网络连接</p>
				<p class="loading" v-show="!loading.search && (searchResult ? (searchResult.length === 0) : false)">当前条件没有搜索结果</p>
				<p class="loading" v-show="!loading.search && !error.search && !searchResult">在上方输入课程名称/老师姓名以显示搜索结果</p>
				<li v-for="course in searchResult" data-code="{{course.code}}" @click="showDetail">
					<div class="course-icon" data-type="{{course.type}}"></div>
					<div class="course-detail">
						<h3 v-text="course.name"></h3>
						<p class="course-info" v-text="course.teacher"></p>
						<p class="course-info"><span v-text="course.rateTimes"></span>次评分、<span v-text="course.commentTimes"></span>条评论</p>
					</div>
					<div class="course-score course-icon" v-text="course.score"></div>
				</li>
			</ul>
		</li>
		<li class="window" v-show="windowShow.help" transition="slide">
			<section class="help">
				<h3>什么是Lessen？</h3>
				<p><b>不是Lesson！</b></p>
				<p><b>不是Lesson！</b></p>
				<p><b>不是Lesson！</b></p>

				<p>重要的事情说三遍！Lessen 是 e<b>L</b>ectiv<b>E</b> cour<b>S</b>e <b>S</b>ugg<b>E</b>sstio<b>N</b> 的简称，它包含了南昌大学所有二类通识课的信息以及相应的评分和评价。有了它，你再也不必纠结选什么二类通识课了。</p>
	
				<h3>怎样使用Lessen？</h3>

				<p>在Lessen的首页，你可以在最上面看到两个按钮，左边那个是菜单按钮，右边的是搜索按钮，右下角是评分按钮。轻点菜单按钮或者在屏幕上向右滑动即可唤出侧边导航栏，轻点搜索按钮可以进入搜索页。<b>轻点评分按钮，即可评分。</b></p>

				<p>首页默认显示的是排行榜。在菜单按钮下面是排行榜的分类。在支持触摸的设备上你可以左右滑动（电脑上请在分类上滚动鼠标滚轮）并轻点来查看不同类别的排行榜。</p>

				<p>在评分页面，你需要先在搜索框中输入你想要评分的课程，并在结果列表中轻点你想要评分的课程，就会显示你要评分的课程的相关信息，选择合适的选项，评论内容和昵称是可选的。<u><b>注意：不同上课时间的同一门课程视为一门课程，这两门课程的评分数据将会共享。排行榜以及评分数据将会每5分钟更新一次。评分次数越多，排行榜中的数据就会越准确，对选择课程的帮助就会更大。</b></u></p>

				<p>在筛选中，会有默认的筛选条件。当然，你可以自己指定筛选条件。筛选条件中包括课程评分排序（升序或者降序）、点名情况、考核方式、类别以及上课时间，轻点你想要的条件之后再轻点筛选，即可筛选出符合条件的课程了。</p>

				<p>在搜索页中，你可以键入你想要搜索的课程名字或者老师的名字，便会列出相关的课程。轻点任一课程即可查看该课程的详细信息。</p>

				<p>在课程的详细界面中，你可以查看这门课程的所有相关信息，并可以轻点<i><b>对此课程进行评分</b></i>来对一门课程进行评分。</p>
			</section>
		</li>
		<li class="window" v-show="windowShow.about" transition="slide">
			<section class="help system-status">
				<h3>统计信息</h3>
				<p>截至当前，共有<span v-text="systemStatus.rateTimes"></span>人次参与评分，共有<span v-text="systemStatus.commentTimes"></span>条评论。</p>
			</section>
			<section class="help">
				<h3>联系我</h3>
				<p>如果你发现某门课程的数据出错，或者某门课程在系统中找不到，或者你发现了一些bug，或者你有一些建议，你都可以通过微博（<a href="http://weibo.com/u/2515642230" target="_blank">@Roland_Reed</a>）或者邮箱（<a href="mailto:roland_reed@foxmail.com">roland_reed@foxmail.com</a>）与我联系。</p>
			</section>
		</li>
	</ul>
	<script src="https://cdn.bootcss.com/require.js/2.3.2/require.js" data-main="./js/app.js" defer async="true"></script>
</body>
</html>